.outline-danger {
  background-color: #df4759;
  color: white;
}

.outline-success {
  background-color: #42ba96;
  color: white;
}

.highlight {
  box-shadow: 0px 0px 15px 5px rgba(66, 186, 150, 0.75);
}

.container {
  display: flex;
  flex-direction: column;
}

table,
th,
td {
  border: 1px solid black;
  border-collapse: collapse;
  padding: 10px;
}

th {
  background-color: lightblue;
}
tr:nth-child(even) {
  background-color: lightgrey;
}

.container button {
  font-size: 14px;
  padding: 6px 12px;
  margin-bottom: 0;

  display: inline-block;
  text-decoration: none;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 3px;
}
.container button:hover {
  color: #333;
  opacity: 0.5;
}
